<h3>this will page will check if user is logged in.</h3>
<h3>if user is logged in then they will be redirected to dashboard.</h3>
<h3>otherwise, if the user is not logged in then they will see login form.</h3>